html,
body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
}


/*CSS Variables*/

:root {
    --primary-color: #4458de;
    --primary-color2: #854fee;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: liner-gradient(90deg, #4458de 0%, #854fee 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

.titlename {
    font-family: 'Bangers', cursive;
}

.header_area .main-menu .navbar {
    padding: 1rem 15rem;
}

.header_area .main-menu .nav-item .nav-link {
    font-weight: 500;
    text-transform: uppercase;
    padding: 1.7rem;
}

.header_area .main-menu .navbar .active a {
    background: var(--gradient-color);
}

.header_area .main-menu .navbar .nav-item a:hover {
    background: var(--gradient-color);
    color: var(--primary-color);
    -webkit-tect-fill-color: transparent;
}

.site-main .site-banner .site-title {
    padding-top: 10%;
    padding-left: 10%;
    font-weight: 500;
}

.site-main .site-banner .site-title h1,
h3,
h4 {
    font-family: 'Bangers', cursive;
}

.site-main .site-banner .site-title h1 span {
    color: var(--primary-color);
}

.site-main .site-banner .profileimg>img {
    padding-top: 10%;
    padding-right: 30%;
    border-radius: 50%;
}


/*End of Header*/


/*Start Of About-area*/

.site-main .about-area {
    padding: 8rem 5rem;
}

.site-main .about-area .about-img>img {
    border-radius: 20px;
    left: 30%;
}

.abouttitle {
    text-align: center;
    font-weight: 800;
    text-decoration: underline;
    color: #4458de;
    padding-bottom: 8rem;
}

.about-img {
    height: 300px;
    width: 250px;
    margin-right: auto;
}

.aboutname {
    align-self: auto;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.aboutpara {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}


/*End Of Contact*/


/*Start Of Contact*/

.site-main .contact-area {
    padding: 0rem 3rem;
}

.contacttitle {
    text-align: center;
    font-weight: 800;
    text-decoration: underline;
    color: #4458de;
    padding-bottom: 8rem;
}

.contact__input {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: .5rem;
    border: 1.5px solid #0E2431;
    outline: none;
    margin-bottom: 2rem;
}

.contact__button {
    display: block;
    border: none;
    outline: none;
    font-size: 0.938rem;
    cursor: pointer;
    margin-left: auto;
}

#msg {
    resize: none;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}


/*End Of Contact*/


/*Start Of footer*/

.footer {
    background-color: #0E2431;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin-top: 2rem;
    padding: 2rem 0;
}

.footer__title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.footer__social {
    margin-bottom: 2rem;
}

.footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 1rem;
}

.home__title-color {
    color: #4070F4;
}

.home__social {
    display: flex;
    flex-direction: column;
}

.home__social-icon {
    width: max-content;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #0E2431;
}

.home__social-icon:hover {
    color: #4070F4;
}


/*Buttons*/

.btn {
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px;
    position: relative;
    border: 3px solid transparent;
}

.btn .btn-primary {
    background: var( --gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    font-weight: 500;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
    margin-bottom: 10%;
}

.btn.btn-primary:hover {
    background: whitesmoke;
    color: black;
    font-weight: 500;
}