:root{
    --primary-color:#06090f;
    --secondary-color:#f5f5f5;
    --accent-color: #00a3ff;

    font-family: Saira;
}
body{
    margin:0;
}



.header-bar{
    background-color: var(--primary-color);

    height: 2rem;
    padding: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;

}
hr{
    margin: 0;
    color: #000;
}


.logo-text{
    color: var(--secondary-color) ;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    cursor: pointer;
}
.header-buttons{
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    text-align: start;

}

/* Hovering Animations */

 .hover-underline-animation{
    text-decoration: underline
    
 }


 #whoami{
    background-color: var(--primary-color);
 }